@mixin bp($horizontal, $vertical){
  background-position:$horizontal $vertical;
}
@mixin text-ellipsis {
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}