@import "compass/css3";
@import "html5-boilerplate";
@import "home/grid";
@include html5-boilerplate;
$legacy-support-for-ie: true;
$noitehoje:#E513ED;
body {
  background:#EEE;
  font-family: 'Open Sans', sans-serif;
  text-rendering:geometricPrecision;
  .wrapper {
    width:960px;
    margin:0 auto;
  }
}
header#header {
  background:url(/images/shared/sprite-x.png) repeat-x left top;
  height:44px;
  * {
    color:white;
  }
  nav {
    text-align:right;
    a {
      font-weight:900;
      text-shadow:#000 1px 1px 0;
      text-decoration:none;
      line-height:40px;
      margin-left:10px;
    }
  }
}
#logo {
  text-indent:-9999em;
  background: transparent url(/images/nh/logo.png) no-repeat left top;
  width:338px;
  height:116px;
}
#showcase {
  background: url(/images/nh/people-dancing.png) repeat-x 22% bottom, black url(/images/background.jpg) repeat left top;
  padding-top:30px;
  border-bottom:1px solid #664177;
  .wrapper {
    position:relative;
  }
  h1, h2 {
    color:white;
    float:left;
  }
  h1 {
    width:258px;
    margin:40px 0 0 140px;
  }
  h2 {
    width:422px;
    font-size:40px;
    font-weight:100;
    margin:10px 0 0 20px;
    text-shadow:#000 0 -1px 0;
    letter-spacing:2px;
  }
  &:after {
    content:'';
    display:block;
    overflow:hidden;
    height:0;
    width:0;
    clear:both;
  }
  .app_download {
    position:absolute;
    top:80px;
    right:120px;
    list-style:none;
    li {
      margin-bottom:10px;
    }
    a {
      display:block;
      cursor:pointer;
      width:204px;
      text-indent:-9999em;
      background:transparent url(/images/nh/store-logos.png) no-repeat scroll;
      -webkit-transition:opacity .2s ease-in;
      &.apple_app_store {
        background-position:0 0;
        height:72px;
      }
      &.android_market {
        background-position:0 -78px;
        height:89px;
      }
      &.try_on_the_web {
        background-position:0 -178px;
        height:59px;
      }
      &:hover {
        opacity:.6;
      }
    }
  }
}
.clear {
  clear:both;
}
#showcase_pictures {
  clear:both;
  height:300px;
  img {
    display:block;
    position:relative;
    left:50px;
    top:20px;
  }
}
aside {
  overflow:hidden;
  padding:200px 0 100px;
  border-top:1px solid #444;
  section {
    width:33%;
    float:left;
  }
}
.app_showcase {
  width:33%;
  float:left;
}
#usual_suspects {
  @include border-radius(6px);
  @include box-shadow(#EEE 0 1px 0 inset, #888 0 2px 4px);
  border:1px solid #CCC;
  background:#DDD;
  padding:10px;
  ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  li {
    clear:both;
    text-shadow:#fff 0 1px 0;
    font-size:14px;
    margin:0;
    padding:0;
    margin-bottom:10px;
    &.last {
      margin:0;
    }
  }
  img {
    vertical-align:-8px;
    border:1px solid white;
  }
  .role {
    @include border-radius(1em);
    display:inline-block;
    padding:2px 8px;
    font-size:11px;
    font-weight:900;
    background:#BBB;
    color:#444;
    margin:0 3px;
  }
  .twitter {
    background:url(/images/nh/twitter.png) no-repeat 0 0;
    height:16px;
    width:21px;
    display:inline-block;
    text-indent:-9999em;
    &:hover {
      background-position:-21px 0;
    }
  }
}
#features {
  float:left;
  margin-left:50px;
  width:450px;
  * {
    font-size:14px;
    line-height:21px;
    color:#555;
  }
  p {
    margin-top:1em;
  }
}
#footer {
  background:black;
  padding:10px 0;
  input, textarea {
    display:block;
    border:0 none;
    background:white;
    font-size:16px;
    padding:6px 18px;
    @include border-radius(4px);
    margin:0 0 10px;
  }
}
