[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
[remote "production"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = git@heroku.com:noitehoje-webapp.git
[branch "master"]
	remote = origin
	merge = refs/heads/master
[remote "origin"]
	url = https://noitehoje@bitbucket.org/noitehoje/noitehoje-webapp.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[remote "staging"]
	url = git@heroku.com:noitehoje-webapp-staging.git
	fetch = +refs/heads/*:refs/remotes/staging/*
