#logo,
.social .icon,
.view-type a span,
#footer .app-share a,
#details .social a,
#services_list a,
.geo-icon,
.events .show-placeholder,
.events .party-placeholder
{
  background-image:url(/images/app/sprite.png);
  background-attachment:scroll;
  background-repeat:no-repeat;
}
#header,
#footer
{
  background-image:url(/images/shared/sprite-x.png);
  background-attachment:scroll;
  background-repeat:repeat-x;
}
